.App-grid {
  background: #fff; 
  min-height: 100vh;
  display:grid ;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #333;
}


.card{
background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  max-width: 1980px;
  width: 100%;
   min-width: 1000px;
   min-height: 800px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  padding: 12px 20px;
}


.contenedor{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin-top: 20px;
}

.contenedor2{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin-top: 20px;
}

.contenedor4{
  display: flex;
  align-items: center;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  margin-top: 20px;
}




.Card-preguntas{
  position: relative;   
  width: 400px;         
  height: 200px;        
  background: #fff;     
  border-radius: 12px;  
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  margin: 10px;        
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
 
}


.posicionletra {
  margin-left: 30px; 
}

.posicionletra2 {
  margin-left: 35px; 
}


.Colorletra {
  color: #1A3D63;
}

.Pregunta-img {
  position: absolute;
  width: 50px;  
  bottom: -10px; 
  right: -10px; 
}
.Pregunta-img2 {
  position: absolute;
  width: 50px;  
  top: -10px; 
  left: -10px; 
}

.Pregunta-img3 {
  position: absolute;
  width: 50px;  
  bottom: -10px; 
  left: -10px; 
}

.Contenedor4{
    display: flex;
    justify-content: center; 
  align-items: center;    
  gap: 20px; 
  margin-top: 20px;
  width: 100%;     
}



input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin-right: 8px;
}

input[type="radio"]:checked {
  background-color: #4a7fa7;
  border: 2px solid #000;
}

btn-container {
  margin-top: 20px;
  text-align: right;
}

.boton-siguiente{
   align-self: flex-end; 
  margin-bottom: 20px;  
  margin-left: 1100px;   
  padding: 8px 16px;
  background: #1A3D63;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.boton-results{
   align-self: flex-end; 
  margin-bottom: 20px;  
  margin-left: 1100px;   
  padding: 8px 16px;
  background: #1A3D63;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.mensaje-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  min-height: 120px;
}

.typewriter {
  overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #000; 
  width: 0;
  font-size: 24px;
  font-weight: bold;
  animation: typing 4s steps(50, end) forwards, blink 0.8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 45% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: black; }
}


.robot-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 100px;

}