.footer{
    display: grid;
    margin-bottom: 0px;
    margin-top:10px;
}
.footer-container{
    margin-top: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem;
    background-color: #f8f9fa; 
    color: #333;
    font-family: Arial, sans-serif;
    border-top: 1px solid #e2e6ea;
}



.footer-section {
    flex: 1;
    margin: 0 1rem;
    
}

.footer-section h3 {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer-section p, .footer-section address, .footer-section ul {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.footer-section ul {
    list-style: none;
}

.footer-section li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: black;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-icons {
    margin-bottom: 1rem;
    border: 2px blue solid;
}



.footer-section address a {
    color: #333;
}

.footer-section address a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

