body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.conteiner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  
}


.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 z-index: -1;

}
.background{
  
 background: linear-gradient(180deg, #ffffff 0%, #d9ecff 100%);

}


.logo {
  margin-bottom: 20px;
}

.logo h1 {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.logo .highlight {
  color: #1A3D63;
}

.logo .highlight2 {
  color: #4A7FA7;
}



.Barra_busqueda {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 55px 55px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto 40px;
}

.Barra_busqueda input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.Barra_busqueda button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #0d2d4a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.Barra_busqueda button:hover {
  background-color: #08345c;
}


.main-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.Cards {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-align: left;
}

.Cards:hover {
  transform: translateY(-5px);
}

.Card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-body h2 {
  margin-top: 0;
  font-size: 1.5em;
  color: #333;
}

.card-body p {
  font-size: 1em;
  color: #666;
  line-height: 1.5;
}

.card-body button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #0d2d4a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card-body button:hover {
  background-color: #08345c;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .Cards {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
.learning-img {
  width: 60px;      /* ajusta al tamaño que quieras */
  height: auto;     /* mantiene proporción del alto */
  display: block;   /* opcional: para eliminar espacios extra debajo de la imagen */
  margin: 0 auto;   /* opcional: centra la imagen */
}