.body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #cce7ff, #99ccff);
  display: flex;
  overflow: hidden;

}


.left-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo .highlight {
  color: #1A3D63;
}

.logo .highlight2 {
  color: #4A7FA7;
}

.chat-box {
display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 55px 55px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto 40px;
}

.chat-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.chat-box button {
    padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #0d2d4a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.chat-box button:hover {
  background: #003d80;
}



.right-panel {
  flex: 1;
  background: white;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow-y: auto;
}

.right-panel h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.tool {
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.95rem;
  gap: 10px;
}

.tool img {
  width: 40px;
  height: 40px;
}

.tool button {
  background: #007acc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.tool button:hover {
  background: #005f99;
}