.navy{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    display: flex;
}
.sign{
cursor: pointer;
    font-weight: 500;
    color: #2c3e50;
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.sign:hover{
 background-color:#4A7FA7;
    color: #ffffff;
}


.TeachNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-bottom: 1px solid #e0e0e0;
    animation: fadeIn 0.8s ease-in;
    position:fixed;
    z-index: 200;
    gap: 10px;

}
 
 
.Logo img {
    height: 45px;
    display: flex;
}

.TeachMeNowLogo{
    width: fit-content;
}
 
 
.options ul {
    display: flex;
    list-style: none;
    gap: 70px;
    margin: 0;
    padding: 0;
}
 
.options li {
    cursor: pointer;
    font-weight: 500;
    color: #2c3e50;
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
 
.options li:hover {
    background-color:#4A7FA7;
    color: #ffffff;
}
 
.profile img {
    height: 35px;
    border-radius: 50%;
    border: 2px solid #3498db;
    transition: transform 0.3s ease;
}
 
.profile img:hover {
    transform: scale(1.1);
}
 
 
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
