.landing-page {
  padding: 20px;
  background: #eaf6ff;
  font-family: sans-serif;
}

.hero h1 {
  text-align: center;
  margin-bottom: 30px;
}

.description {
  color: #6b7280;
  max-width: 600px;
  margin: 0 auto 2rem auto;
}

.Cuadrito{
  background-color: #f0f3fa;
  border-radius: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}


.info-box {
  background: #f3f4f6;
  padding: 2.5.5rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}


.info-box li::before{
   content: "✔ ";  
    color: green;    
    font-weight: bold;
}

.info-box h3 {
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
}

.info-box ul {
  margin: 0.5rem 0;
  padding-left: 20px;
  color: #374151;
}

/* Right Box */
.right-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.highlight {
  color: #2563eb;
}

.robot {
  width: 150px;
  margin-bottom: 1rem;
}

.start-btn {
  background: #0a1931;;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

.card img,
.learning-card img {
  width: 80px;
  height: 80px;
}

.learning-style-section h2 {
  text-align: center;
  margin: 40px 0 20px;
}
